@use '../foundation/variable/color' as *;
@use '../foundation/variable/font' as *;

html {
  font-size: 62.5%;
}

body {
  color: $colorText;
  font-family: $fontFamilyJp;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
