//- project
- var path = './';
- var viewport = 'width=device-width,initial-scale=1';
//- meta
- var title = 'basic title';
- var description = 'basic description';
- var keywords = 'basic keywords, basic keywords02, basic keywords03';
//- og
- var ogSiteName =  '';
- var ogType =  'website';
- var ogImage =  '';
- var ogUrl =  '';
- var ogDescription =  '';
- var ogTitle =  '';
- var ogLocale =  'ja_JP';